*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.HP
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}

h1
{
    color: white;
    font-size: 50px;
    text-align: right;
    margin-top: 275px;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
}

.btn-one:hover
{
    background-color: darkorange;
    transition: all .5s ease-in;
}

.btn-two:hover
{
    background-color: darkorange;
    transition: all .5s ease-in;
}

.btn-three:hover
{
    background-color: darkorange;
    transition: all .5s ease-in;
}